<app-menu></app-menu>

      
      <!-- Main -->
      <div class="container">
        
       
       
                    
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="panel-title">
                  <i class="glyphicon glyphicon-wrench pull-right"></i>
                  <h3>Ajouter un nouvel article</h3>
                </div>
              </div>
              <div class="panel-body">
                
                <form class="form form-vertical">
                  <!--Input de l'id-->
                  <div class="control-group">
                    <label>Identifiant</label>
                    <div class="controls">
                      <input type="text" class="form-control" placeholder="Entrez l'identifiant de l'article">
                    </div>
                  </div>      
                  <!--Input du libellé-->
                  <div class="control-group">
                    <label>Libellé</label>
                    <div class="controls">
                      <input type="password" class="form-control" placeholder="Entrez le libellé de l'article">
                      
                    </div>
                  </div>   
                  <!--Input de la photo-->
                  <div class="control-group">
                    <label>Photo</label>
                    <div class="controls">
                      <input type="text" class="form-control" placeholder="Entrez la photo de l'article">
                    </div>
                  </div> 
                  
                  <div class="control-group">
                    <label>Prix</label>
                    <div class="controls">
                      <input type="number" class="form-control" placeholder="Entrez le prix de l'article">
                    </div>
                  </div> 
                  
                  <div class="control-group">
                    <label>Solde</label>
                    <div class="controls">
                      <select  class="browser-default custom-select">
                        <option value="s">Soldé</option>
                        <option value="n">Non soldé</option>
                      </select>
                    </div>
                  </div>    

                  <div class="control-group">
                    <label></label>
                    <div class="controls">
                      <button type="submit" class="btn btn-primary btn-block">
                        Ajouter l'article
                      </button>
                    </div>
                  </div>   
                  
                </form>
                
                
              </div><!--/panel content-->
            </div><!--/panel-->
          
          
          </div><!--/col-->
          
        
      